{{> navbar user }}

<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="jumbotron">
                <h4 class="display-6">WELCOME TO THE TIMES TABLES EDUCATOR</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <h2>TIMES TABLES</h2>
            <p>The following application helps users learn the Times Tables </p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Application Capabilities</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-primary">
                        <td>Create 'one' Times Table Quiz</td>
                    </tr>
                    <tr>
                        <td>Create 'multiple' Times Tables Quizzes</td>
                    </tr>
                    <tr class="table-primary">
                        <td>Take a Time Table Quiz multiple times</td>
                    </tr>
                    <tr>
                        <td>Track progress on 'one' Time Table Quiz</td>
                    </tr>
                    <tr class="table-primary">
                        <td>Track progress on 'multiple' Times Table Quizzes</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <h2>Taking a Times Table Quiz</h2>
            <p>Options the user can select</p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Choose which Times Tables to quiz on</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-primary">
                        <td>Choose one equation at a time to quiz on</td>
                    </tr>
                    <tr>
                        <td>Choose the entire Times Table to quiz on</td>
                    </tr>             
                </tbody>
            </table>
        </div>
    </div>
</div>