form.signup,
form.login {
  margin-top: 50px;
}

.forum-post-card {
  width: 100%;
}

.forum-post {
  width: 100%;
}

.resultsBody{
  background-color:gainsboro;
}

.table{
  background-color: white;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  
}

.row{
  margin:25px;
}

footer {
  text-align: center;
  
}